@import "tailwindcss";

@theme {
	--color-background: #252a3e;
	--color-background-2: #3d4466;
	--color-background-3: #0c1231;
	--color-secondary: #97a0cc;
}

body {
	@apply bg-background text-white;
}
